{% extends 'base.html' %}


{% block nav %}
<span class="separator">&#x2F;</span>
<a>{{ post.category }}</a>
<span class="separator">&#x2F;</span>
<a>{{ post.title}}</a>
{% endblock %}




{% block content %}

<article class="blog-post">
    <header>
       
        <div class="lead-image">
            <img src="img/single-post.jpg" alt="" class="img-responsive">
            
        </div>
    </header>
    <div class="body">
        <h1>{{ post.title }}</h1>
        <div class="meta">
            <i class="fa fa-user"></i> Ban Day <i class="fa fa-calendar"></i>{{ post.created_time }}<i class="fa fa-eye"></i><span class="data"><a href="#comments">{{ post.views }} read</a></span>
        </div>
        <p>{{ post.content|safe }}</p>

    </div>
</article>

                  
{% endblock %}